# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Docker files
*.dockerignore


# System files
.DS_Store

# Temporary files
*.tmp
*.temp

# Other
package-lock.json 